:root {
    --cor-verde-neon: rgba(46, 223, 84, 0.856);
    --cor-preto: rgb(0, 0, 0);
}

body {
    background-color: var(--cor-preto);
    margin: 0;
    
}

header {
    background-color: var(--cor-verde-neon);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-preto-meioCinza);
    height: 500px;
}

.pergunta {
    display: flex;
    justify-content: center;
    color: white;
    border: solid;
}

.btnsCaixa {
    color: white;
    display: grid;
    padding: 10px;
    gap: 10px;
    width: 500px;
    height: 200px;
    border: solid;
    
    
}

.btnResposta {
    font-size: 15px;
    background-color: var(--cor-verde-neon);
    border-radius: 10px;
    border-bottom: 5px;
    
}

header {
    background-color: var(--cor-verde-neon);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: white;
    font-size: 30px;
}

.caixaBtnInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}

.btnInicio {
    border: none;
    border-radius: 10px;
    height: 100px;
    width: 400px;
    background-color: var(--cor-verde-neon);
    font-size: 40px;
    border-radius: 10px;
    border-bottom: 5px;
}

.btnInicio:hover {
    background-color: rgba(112, 214, 108, 0.945);
}

button:hover {
    cursor: pointer;
}

.btnResposta:hover{
    background-color: rgba(112, 214, 108, 0.945);
   
}
img{
    height: 250px;
}
.img1{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.caixaNome{
    color: white;
    display: flex;
    justify-content: center;
}