
:root {
    --cor-verde-neon: rgba(46, 223, 84, 0.856);
    --cor-preto-meioCinza: #1e1e1e; /* SUGESTÃO - você pode ajustar essa cor */
}

body {
    background-color: var(--cor-preto-meioCinza);
    margin: 0;
}

header {
    background-color: var(--cor-verde-neon);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixaPerguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-preto-meioCinza);
    height: 500px;
}

.pergunta {
    display: flex;
    justify-content: center;
    color: white;
    border: solid;
}

.btnsCaixa {
    color: white;
    display: grid;
    padding: 10px;
    gap: 10px;
    width: 1000px;
    height: 200px;
    border: solid;
}

.btnResposta {
    font-size: 15px;
    background-color: var(--cor-verde-neon);
    border-radius: 10px;
    border-bottom: 5px solid transparent; /* corrigido */
}

h3 {
    color: white;
    font-size: 30px;
}

.caixaBtnInicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
}

.btnInicio {
    border: none;
    border-radius: 10px;
    height: 100px;
    width: 400px;
    background-color: var(--cor-verde-neon);
    font-size: 40px;
    border-bottom: 5px solid transparent; /* corrigido */
}

.btnInicio:hover {
    background-color: rgba(112, 214, 108, 0.945);
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 300ms ease;
}

.btnResposta:hover {
    background-color: rgba(112, 214, 108, 0.945);
}

img {
    height: 243px;
    box-shadow: 10px 10px 15px var(--cor-verde-neon);
}

.img1 {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.caixaNome {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

@media (max-width: 600px) {
    header h1,
    h3 {
        font-size: 24px;
        text-align: center;
    }

    .caixa,
    .caixaBtnInicio {
        flex-direction: column;
        padding: 1rem;
        height: auto;
        height: 150px;
    }

    .btnsCaixa {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
    }

    .btnResposta {
        font-size: 14px;
        padding: 10px;
    }

    .btnInicio {
        width: 300px;
        height: 80px;
        font-size: 30px;
    }

    img {
        height: 200px;
    }
}

@media (min-width: 1000px) {
    .btnsCaixa {
        grid-template-columns: 1fr 1fr;
    }
}